Imports librarys

In [45]:
from sqlalchemy import create_engine, Column, Integer, String, Boolean, DateTime, ForeignKey, func
from sqlalchemy.orm import sessionmaker, declarative_base
from datetime import datetime, timedelta

Creating connection, engine, session

In [46]:
DATABASE_HW18_1 = 'postgresql://{user}:{password}@{host}:{port}/{database}'

Base = declarative_base()
engine = create_engine(
    DATABASE_HW18_1.format(
        host='127.0.0.1',
        database='Homework_18.1',
        user='Freedman',
        password='solo4solo',
        port=5432,
    )
)
Session = sessionmaker(bind=engine)
session = Session()

Creatong tables

In [47]:
class Host(Base):
    __tablename__ = 'hosts'
    id_hosts = Column(Integer, primary_key=True)
    host_name = Column(String(30), nullable=False)
    rating = Column(Integer, nullable=False)

class Guest(Base):
    __tablename__ = 'guests'
    guest_id = Column(Integer, primary_key=True)
    guest_name = Column(String(30), nullable=False)
    gender = Column(String(10), nullable=False)
    country = Column(String(30), nullable=False)

class Room(Base):
    __tablename__ = 'room'
    room_id = Column(Integer, primary_key=True)
    host_id = Column(Integer, ForeignKey('hosts.id_hosts'))
    refrigerator = Column(Boolean, nullable=False)
    ac = Column(Boolean, nullable=False)
    city = Column(String(30), nullable=False)
    amount_residents = Column(Integer, nullable=False)
    available = Column(Boolean, nullable=False)

class Payment(Base):
    __tablename__ = 'payment'
    payment_id = Column(Integer, primary_key=True)
    host_id = Column(Integer, ForeignKey('hosts.id_hosts'))
    guest_id = Column(Integer, ForeignKey('guests.guest_id'))
    amount = Column(Integer, nullable=False)
    payment_date = Column(DateTime, nullable=False)

class Reservation(Base):
    __tablename__ = 'reservation'
    reservation_id = Column(Integer, primary_key=True)
    room_id = Column(Integer, ForeignKey('room.room_id'))
    guest_id = Column(Integer, ForeignKey('guests.guest_id'))
    from_date = Column(DateTime, nullable=False)
    till_date = Column(DateTime, nullable=False)

class Review(Base):
    __tablename__ = 'review'
    review_id = Column(Integer, primary_key=True)
    host_id = Column(Integer, ForeignKey('hosts.id_hosts'))
    guest_id = Column(Integer, ForeignKey('guests.guest_id'))
    rating = Column(Integer, nullable=False)


Base.metadata.create_all(engine)

inserting data using context mannager

In [48]:
with session:
    host_1 = Host(id_hosts=1, host_name='Joseph Liberman', rating=5)
    host_2 =  Host(id_hosts=2, host_name='Elizabet Moan', rating=7)
    host_3 = Host(id_hosts=3, host_name='Felix Hosmann', rating=9)
    session.add_all([host_1, host_2, host_3])

    guest_1 = Guest(guest_id=101, guest_name='Jerry Seinfeld', gender='male', country='USA')
    guest_2 = Guest(guest_id=102, guest_name='Julia Louis-Dreyfus', gender='female', country='USA')
    guest_3 = Guest(guest_id=103, guest_name='Michael Richards', gender='male', country='USA')
    session.add_all([guest_1, guest_2, guest_3])

    room_1 = Room(room_id=1001, host_id=1, refrigerator=True, ac=True, city='New York', amount_residents=2, available=True)
    room_2 = Room(room_id=1002, host_id=2, refrigerator=False, ac=True, city='London', amount_residents=1, available=True)
    room_3 = Room(room_id=1003, host_id=3, refrigerator=True, ac=False, city='Los Angeles', amount_residents=3, available=True)
    session.add_all([room_1, room_2, room_3])
    session.commit()
    
    payment_1 = Payment(payment_id=10001, host_id=1, guest_id=101, amount=1000, payment_date=datetime(2023, 7, 21))
    payment_2 = Payment(payment_id=10002, host_id=2, guest_id=103, amount=2000, payment_date=datetime(2023, 9, 22))
    payment_3 = Payment(payment_id=10003, host_id=2, guest_id=103, amount=3000, payment_date=datetime(2023, 9, 24))
    payment_4 = Payment(payment_id=10005, host_id=3, guest_id=102, amount=1500, payment_date=datetime(2023, 10, 23))
    payment_5 = Payment(payment_id=10006, host_id=3, guest_id=102, amount=2500, payment_date=datetime(2023, 10, 23))
    payment_6 = Payment(payment_id=10007, host_id=3, guest_id=102, amount=3500, payment_date=datetime(2023, 10, 23))
    session.add_all([payment_1, payment_2, payment_3, payment_4, payment_5, payment_6])

    
    reservation_1 = Reservation(reservation_id=123, room_id=1001, guest_id=101, from_date=datetime(2023, 7, 21), till_date=datetime(2023, 7, 25))
    reservation_2 = Reservation(reservation_id=456, room_id=1002, guest_id=102, from_date=datetime(2023, 9, 22), till_date=datetime(2023, 9, 30))
    reservation_3 = Reservation(reservation_id=789, room_id=1003, guest_id=103, from_date=datetime(2023, 10, 23), till_date=datetime(2023, 9, 28))
    reservation_4 = Reservation(reservation_id=911, room_id=1002, guest_id=102, from_date=datetime(2023, 9, 22), till_date=datetime(2023, 9,30))
    reservation_5 = Reservation(reservation_id=921, room_id=1002, guest_id=102, from_date=datetime(2023, 8, 22), till_date=datetime(2023, 8, 31))
    reservation_6 = Reservation(reservation_id=931, room_id=1002, guest_id=103, from_date=datetime(2023, 10, 22), till_date=datetime(2023, 11, 21))
    session.add_all([reservation_1,reservation_2, reservation_3, reservation_4, reservation_5, reservation_6])
 
    review_1 = Review(review_id=321, host_id=1, guest_id=101, rating=8)
    review_2 = Review(review_id=654, host_id=2, guest_id=102, rating=7)
    review_3 = Review(review_id=987, host_id=3, guest_id=103, rating=4)
    review_4 = Review(review_id=988, host_id=1, guest_id=102, rating=2)
    review_5 = Review(review_id=989, host_id=2, guest_id=102, rating=2)
    review_6 = Review(review_id=990, host_id=3, guest_id=102, rating=5)

    session.add_all([review_1, review_2, review_3, review_4, review_5, review_6])
    session.commit()

querry1 Find a user( guest) who had the biggest amount of reservations. Return guest name and guest_id

In [49]:
most_reservations = session.query(Guest.guest_id, Guest.guest_name, func.count(Reservation.reservation_id).label('reservation_count')
).join(Reservation, Guest.guest_id == Reservation.guest_id).group_by(Guest.guest_id).order_by(func.count(Reservation.reservation_id).desc()).first()

guest_id, guest_name, reservation_count = most_reservations
print(f" ID: {guest_id}, Name: {guest_name}, Reservations: {reservation_count}")

 ID: 102, Name: Julia Louis-Dreyfus, Reservations: 3

querry2  Find a host who earned the biggest amount of money. Return hostname and host_id

In [56]:
richest_host = session.query(
    Host.id_hosts,
    Host.host_name,
    func.sum(Payment.amount).label('total_payments')
).filter(
    Payment.host_id == Host.id_hosts
).group_by(Host.id_hosts, Host.host_name).order_by(func.sum(Payment.amount).desc()).first()

if richest_host:
    host_id, host_name, total_payments = richest_host
    print(f"Id: {host_id}, Name: {host_name}, earnings: {total_payments}")

Host ID: 3, Host Name: Felix Hosmann, Total Payments: 7500

Find a host with the best average rating. Return hostname and host_id

In [54]:
most_rated_host = session.query(Host.id_hosts, Host.host_name, func.avg(Review.rating).label('average_rating')).filter(Review.host_id == Host.id_hosts
).group_by(Host.id_hosts, Host.host_name).order_by(func.avg(Review.rating).desc()).first()

host_id, host_name, average_rating = most_rated_host
print(f"ID: {host_id}, Name: {host_name}, Avg_rating: {round (average_rating, 2)})")

ID: 1, Name: Joseph Liberman, Avg_rating: 5.00)